<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Word</title>
        <script type="text/javascript">
          	function Save() {
              	document.getElementById("PageOfficeCtrl1").WebSave();
        	}
        </script>
        <script type="text/javascript">
         function AddSeal() {
			try{
        		  document.getElementById("PageOfficeCtrl1").ZoomSeal.AddSeal();
			}catch (e){ };
        	}
  		</script>
        <script type="text/javascript">
            //POB打开窗口后事件
            function AfterDocumentOpened() {
                document.getElementById("PageOfficeCtrl1").ShowRevisions = true;//word显示批注
           }
        </script>

    </head>
    <body>
    <input id="savePath" name="savePath" type="hidden" th:value="${savePath}"/>
    <div style="width:auto;height:700px;" th:utext="${pageoffice}"></div>
    </body>
</html>
